.skeletonForArticlesList{
  padding: 0;
  margin: 0 auto 30px auto;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;

  &__inner {
    width: 0.2fr;
    height: 100%;
    object-fit: cover;
  }

  .MuiSkeleton-root {
    background: transparent !important;
  }
}

