.profilePage {
  margin: 100px auto 0 auto;

  &__info {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    flex-direction: column;
    padding: 20px;
    font-size: 28px;
    margin: 0 auto 40px auto;
  }

  &__name {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .feeds__tabs-inner {
    width: 100%;
  }

  &__follow,
  &__edit {
    color: black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__follow svg,
  &__edit svg {
    width: auto;
    height: 30px;

    & path {
      opacity: 0.3;
      transition: .3s linear;
    }

    &:hover {
      & path {
        opacity: 1;
      }
    }
  }

  &__follow.isFollow {
    & svg path {
      opacity: 1;
    }

    &:hover {
      & svg path {
        opacity: 0.3;
      }
    }
  }

  &__bio{
   font-size: 14px;
  }

  nav {
    margin: 0 auto !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}