.articleCard {
  position: relative;
  text-align: left;
  width: 100%;
  transition: .3s linear;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  background: url("../../assets/img/HomePage/background.webp") top left no-repeat;

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    height: 100%;
    padding: 20px;
  }

  &__info-top {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 12px;
    align-self: center;
  }

  &__favorites {
    position: relative;

    & svg {
      width: 40px;
      height: 40px;
    }

    & svg path {
      fill: rgba(0, 0, 0, 0.2);
      transition: .3s linear;
    }

    &:hover{
      & svg path{
        fill: rgba(0, 0, 0, 0.4);
      }
    }

    &-count {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -40%);
      color: black;
      cursor: pointer;
    }
  }

  &__info-bottom {
    width: 100%;
  }

  &__description {
    margin-bottom: 8px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  &__tagitem {
    font-size: 12px;
    color: black;
    padding: 3px 5px;
    border: 1px solid gray;
    border-radius: 3px;
    margin-right: 10px;
    align-self: flex-end;
    position: relative;
    z-index: 10;
    transition: .3s linear;

    &:hover {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }

  //&__link {
  //  color: black;
  //  padding: 2px 20px;
  //  border-radius: 10px;
  //  transition: .3s linear;
  //  border: 1px solid gray;
  //  position: relative;
  //  z-index: 10;
  //
  //  &:hover {
  //    background-color: rgba(0, 0, 0, 0.3);
  //  }
  //}

  &__link-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

  }
}