.comments {
  width: 90%;

  &__title {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  &__item {
    width: 90%;
    margin: 0 auto 10px auto;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gray;
  }

  &__body {
    width: 75%;
  }

  .authorInfo {
    width: max-content;
  }

  .authorInfo__photo {
    width: 40px !important;
    height: 40px !important;
  }

  .authorInfo__date {
    top: -3px;
    left: 5px;
  }

  .authorInfo__link {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}