* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  background: url("/assets/img/HomePage/background.webp") top left no-repeat fixed;
  background-size: cover;
}

li {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  display: inline-block;
}

.App {
  position: relative;
  text-align: center;
  min-height: 100vh;
  height: max-content;
}

.container {
  max-width: 1200px;
  padding: 20px 50px;
  margin: 0 auto;
}

.hoverLink{
  transition: .3s linear;
  color: gray;
  position: relative;

  &::after {
    content: '';
    display: block;
    height: 1px;
    width: 0;
    background-color: gray;
    transition: .3s linear;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  &:hover {
    &::after,
    &::after {
      width: 100%;
    }
  }
}